=simple_form_for [project.becomes(Project), edu_program] do |f|
  =f.error_notification
  .form-inputs
    =f.input :name, as: :string
    =f.input :desc
    =f.input :type_pr
    =f.input :forma
    =f.association :languages
    =f.input :code
    =f.input :desc_audience
    =f.input :online_courses
    =f.input :profile_podgotovki
    =f.input :second_diplom_univer
    =f.input :initial_edu_lvl
    =f.input :other_requirements
    =f.input :price
    =f.input :duration
    =f.input :degree
    =f.input :date_start_enrolment
    =f.input :date_start_education
  .form-actions
    = f.button :submit, 'Сохранить'
    = link_to "Отмена", project_path(@project, anchor: 'edu_programs'), class: 'btn'